.navbarstyles {
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  height: env(100%, titlebar-area-height);
  width: env(100%);
  -webkit-app-region: drag;
}

.drag {
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-app-region: no-drag;
}

.navbarnarrow {
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height);
  width: env(100%);
  -webkit-app-region: drag;
}